<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" routerLink="/home" routerLinkActive="active" >Tienda</a>
    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a *ngIf="!session; else elseBlock" class="nav-link" routerLink="/login" routerLinkActive="active">Iniciar sesion</a>
          <ng-template #elseBlock>
            <a (click)="logout()" class="nav-link">Cerrar sesion <span class="sr-only">({{user.email}})</span></a>
          </ng-template>
        </li>
        <li class="nav-item"  *ngIf="session;">
          <i class="material-icons icon" routerLink="/cart" routerLinkActive="active">shopping_cart</i>
        </li>
        <li class="nav-item"  *ngIf="session;">
          <span class="icon" routerLink="/cart">{{this.cartService.getCardNumber()}}</span>
        </li>
        <li class="nav-item"  *ngIf="session;">
          <a class="nav-link" routerLink="/order" routerLinkActive="active">Ordenes</a>
        </li>
        <li class="nav-item"  *ngIf="session;">
          <a class="nav-link" routerLink="/products" routerLinkActive="active">Productos</a>
        </li>
      </ul>
    </div>
  </div>
</nav>