<app-header></app-header>
<div class="container p-3">
    <div class="row">
        <div class="col-md-12 center"><h3>Ordenes</h3> <br></div>
        <div class="col-md-12 center">
            
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>
                           Productos
                        </th>
                        <th>
                            Dirección envío 
                        </th>
                        <th>
                            Dirección facturación 
                        </th>
                        <th>
                            Servicio de envío
                        </th>
                        <th>
                            Estatus
                        </th>
                        <th>
                            Total pagado
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let order of orders">
                        <td>
                            <ul class="list-group">
                                <li class="list-group-item" *ngFor="let product of order.products">
                                    <div class="row">
                                        <div class="col-sm-3 center">
                                            <img [src]="product.url" alt="" width="30" height="30">
                                        </div>
                                        <div class="col-sm-3 center">
                                            {{product.name}}
                                        </div>
                                        <div class="col-sm-3 center">
                                            Cantidad <br>
                                            {{product.amount}} 
                                        </div>
                                        <div class="col-sm-3 center">
                                            Cantidad <br>
                                            {{product.price}} 
                                        </div>
                                    </div>
                                </li>
                              </ul>
                        </td>
                        <td>{{order.shipping_address}}</td>
                        <td>{{order.invoice_address}}</td>
                        <td>{{order.courrier}}</td>
                        <td>{{order.status}}</td>
                        <td>$ {{order.total}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<app-footer></app-footer>
