<app-header></app-header>
<div class="container p-3">
    <div class="row">
        <div class="col-sm-4 p-4 center">
            <div class="card">
                <div class="card-body">
                    <img [src]="product.url" alt="" width="300">
                </div>
            </div>

        </div>
        <div class="col-sm-8 p-4">
            <div class="card" >
                <div class="card-body">
                    <div class="center">
                        <h1>{{product.name}}</h1>
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item"><b>Descripción:</b> {{product.description}}</li>
                        <li class="list-group-item"><b>Código:</b> {{product.code}}</li>
                        <li class="list-group-item"><b>Precio:</b> $ {{product.price}}</li>
                        <!-- <li class="list-group-item">
                            <input class="form-control input" type="number" placeholder="Cantidad">
                        </li> -->
                      </ul>
                      <br>
                      <a class="btn btn-dark btn-sm" (click)="addCart(product)">Añadir a carrito</a>
                </div>
            </div>
        </div>
    </div>
    <b><h3>Otro productos: </h3></b>
</div>

<app-section-product></app-section-product>

<app-footer></app-footer>