<app-header></app-header>
<div class="container p-3">
    <div class="row">
        <div class="col-sm-12 p-3 center">
            <div class="card" style="width: 80%;">
                <div class="container p-3">
                    <form #addressForm="ngForm" (ngSubmit)="next(addressForm)">
                        <h3>Envío y facturación</h3>
                        <div class="form-group">
                            <input type="text" class="form-control" name="invoice_address" placeholder="Dirección facturación"
                                [(ngModel)]="invoice_address" />
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" name="shipping_address" placeholder="Dirección  envío"
                                [(ngModel)]="shipping_address" />
                        </div>
                        <br>
                        <div class="form-group">
                            <h3>Seleccione servicio de envío</h3>
                            <select class="form-select" aria-label="Default select example" name="courrier"  [(ngModel)]="courrier">
                                <option value="ZOOM">ZOOM</option>
                                <option value="DHL">DHL</option>
                                <option value="IPOSTEL">IPOSTEL</option>
                              </select>
                        </div>
                        <br>
                        <div class="error">{{error}}</div>
                        <br>
                        <button *ngIf="!load" class="btn btn-dark"
                            [disabled]="!invoice_address|| !shipping_address || !courrier ">
                            Siguiente
                        </button>
                        <div *ngIf="load" class="spinner-border" role="status">
                            <span class="sr-only"></span>
                        </div>
        
                    </form>
                </div>
            </div>
        </div>
    </div>
    <b><h3>Otro productos: </h3></b>
</div>

<app-section-product></app-section-product>

<app-footer></app-footer>