<app-header></app-header>
<div class="container p-3">
    <div class="center">
        <div class="card" style="width: 25rem;">
            <div class="card-body">
                <h5 class="card-title">Inicio de sesión</h5>
                <h6 class="card-subtitle mb-2 text-muted">¡Bienvenido!</h6>
                <div class="container p-4">
                    <form #loginForm="ngForm" (ngSubmit)="login(loginForm)">
                        <div class="form-group">
                            <input type="text" class="form-control" name="email" placeholder="Correo electrónico"
                                [(ngModel)]="loginService.selectedLogin.email" />
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" name="password" placeholder="Contraseña"
                                [(ngModel)]="loginService.selectedLogin.password" />
                        </div>
                        <br>
                        <div class="error">{{error}}</div>
                        <br>
                        <button *ngIf="!load" class="btn btn-dark"
                            [disabled]="!loginService.selectedLogin.email.length || !loginService.selectedLogin.password.length ">
                            Iniciar sesión
                        </button>
                        <div *ngIf="load" class="spinner-border" role="status">
                            <span class="sr-only"></span>
                        </div>
    
                    </form>
                </div>
                <br>
                <a routerLink="/register" routerLinkActive="active" class="card-link">¿Primera vez en Tienda? Suscríbete
                    ahora.</a>
            </div>
        </div>
    </div>
    
</div>
<app-footer></app-footer>