<app-header></app-header>
<div class="container p-3">
    <div class="row">
        <div class="col-sm-12 p-3 center">
            <div class="card" style="width: 80%;">
                <div class="card-body" *ngIf="products.length>0">
                    <div class="card margin" *ngFor="let product of products; let i = index">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-2 center">
                                    <img [src]="product.url" alt="" width="100" height="100">
                                </div>
                                <div class="col-sm-3 center">
                                    {{product.name}} <br>
                                    {{product.description}}
                                </div>
                                <div class="col-sm-3 center">
                                    Cantidad <br>
                                    {{product.amount}}
                                </div>
                                <div class="col-sm-2 center">
                                    Precio <br>
                                    $ {{product.price}}
                                </div>
                                <div class="col-sm-2 center">
                                    <button class="btn btn-dark btn-sm" (click)="delete(i)"><i class="material-icons">delete</i> </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <button class="btn btn-dark btn-sm" routerLink="/address" routerLinkActive="active">Checkout </button>
                </div>
                <br>
                <div class="card-body" *ngIf="products.length==0">
                    <h3>
                         <i class="material-icons">shopping_cart</i> 
                        <br>
                        Sin productos en su carrito.
                    </h3>
                </div>
            </div>
        </div>
    </div>
    <b><h3>Otro productos: </h3></b>
</div>

<app-section-product></app-section-product>

<app-footer></app-footer>