<app-header></app-header>
<div class="container p-3">
    <div class="center">
        <div class="card" style="width: 25rem;">
            <div class="card-body">
                <h5 class="card-title">Registrate</h5>
                <h6 class="card-subtitle mb-2 text-muted">¡Bienvenido!</h6>
                <div class="container p-4">
                    <form #registerForm="ngForm" (ngSubmit)="register(registerForm)">
                        <div class="form-group">
                            <input type="text" class="form-control" name="name" placeholder="Nombre"
                                [(ngModel)]="registerService.selectedRegister.name" />
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-control" name="email" placeholder="Correo electrónico"
                                [(ngModel)]="registerService.selectedRegister.email" />
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" name="password" placeholder="Contraseña"
                                [(ngModel)]="registerService.selectedRegister.password" />
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" name="confirm_password" placeholder="Confirmar contraseña"
                                [(ngModel)]="registerService.selectedRegister.confirm_password" />
                        </div>
                        <br>
                        <div class="error">{{error}}</div>
                        <br>
                        <button *ngIf="!load" class="btn btn-dark"
                            [disabled]="!registerService.selectedRegister.email.length || !registerService.selectedRegister.password.length || !registerService.selectedRegister.confirm_password.length || !registerService.selectedRegister.name.length">
                            Registrar
                        </button>
                        <div *ngIf="load" class="spinner-border" role="status">
                            <span class="sr-only"></span>
                        </div>
                    </form>
                </div>
                <br>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>