<app-header></app-header>
<div class="container p-3">
    <div class="row">
        <div class="col-sm-6 p-3 center" *ngIf="!success">
            <div class="card" style="width: 80%;">
                <div class="container p-3">
                    <h3>Detalle de la compra</h3>
                    <div class="form-group" class="text">
                        <div class="card margin" *ngFor="let product of products; let i = index">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-sm-2 center">
                                        <img [src]="product.url" alt="" width="60" height="60">
                                    </div>
                                    <div class="col-sm-4 center">
                                        {{product.name}} <br>
                                    </div>
                                    <div class="col-sm-4 center">
                                        Cantidad <br>
                                        {{product.amount}}
                                    </div>
                                    <div class="col-sm-2 center">
                                        Precio <br>
                                        {{product.price}}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card margin">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-sm-6 center">
                                       <b>TOTAL</b>
                                    </div>
                                    <div class="col-sm-6 center">
                                       <b> $ {{total}} / BS {{total*24.5}}</b>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 p-3 center" *ngIf="!success">
            <div class="card" style="width: 80%;">
                <div class="container p-3">
                    <form #payForm="ngForm" (ngSubmit)="pay(payForm)">
                        <h3>Pagar</h3>
                        <div class="form-group" class="text">
                            <h5>Pago movil</h5>
                            Númber Teléfono: 0412-0000000 <br>
                            Documento: J-00000000 <br>
                            Banco: Mercantil <br>
                        </div>
                        <div class="form-group">
                            <input type="number" class="form-control" name="number" placeholder="Número de referencia"
                                [(ngModel)]="number" />
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" name="phone" placeholder="Número de teléfono"
                                [(ngModel)]="phone" />
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" name="ci" placeholder="Cedula"
                                [(ngModel)]="ci" />
                        </div>
                        <div class="form-group">
                            <select class="form-select" aria-label="Default select example" name="bank"
                                [(ngModel)]="bank">
                                <option selected>Selecione banco</option>
                                <option value="Banesco">Banesco</option>
                                <option value="Mercantil">Mercantil</option>
                                <option value="Banco de Venezuela">Banco de Venezuela</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <input type="number" class="form-control" name="amount" placeholder="Total pago en Bs"
                                [(ngModel)]="amount" />
                        </div>
                        <br>
                        <div class="error">{{error}}</div>
                        <br>
                        <button *ngIf="!load" class="btn btn-dark"
                            [disabled]="!number|| !ci || !bank || !phone || !amount ">
                            Pagar
                        </button>
                        <div *ngIf="load" class="spinner-border" role="status">
                            <span class="sr-only"></span>
                        </div>

                    </form>
                </div>
            </div>
        </div>
        <div class="col-sm-12 p-3 center" *ngIf="success">
            <div class="card" style="width: 60%;">
                <div class="container p-3 textA">
                    <i class="large material-icons">check</i> <br>
                    Pago confirmado
                </div>
            </div>
        </div>
    </div>
</div>


<app-footer></app-footer>