<div class="container p-3">
    <div class="row">
        <div class="col-sm-3 p-4 center" *ngFor="let product of products">
            <div class="card">
                <div class="contenedor" (click)="detail(product._id)">
                    <img class="card-img-top" [src]="product.url" alt="Card image cap">
                </div>
                <div class="card-body">
                    <h5 class="card-title">{{product.name}}</h5>
                    <p class="card-text">{{product.description}}</p>
                    <h5>Precio ${{product.price}}</h5>
                    <a (click)="addCart(product)" class="btn btn-dark btn-sm"><i class="material-icons">shopping_cart</i></a>
                </div>
            </div>
        </div>
    </div>
</div>