.contenedor{
  width:200px;
  height:200px;
}
/*Aplicamos la propiedad object-fit cover, ajustar su tamaño y no perder la proporcion de nuestra imagen*/
img{
  object-fit: cover;
  width:100%;
  height:100%;
}