<app-header></app-header>
<div class="container p-3">

    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h3>Producto</h3>
                    <form #productForm = "ngForm" (ngSubmit)="addProduct(productForm)">
                        <input 
                            type="hidden"
                            name="_id"
                            [(ngModel)]="productSerivece.selectedProduct._id"
                        />
                        <input 
                            type="hidden"
                            name="amount"
                            [(ngModel)]="productSerivece.selectedProduct.amount"
                        />
                        <div class="form-group">
                            <input 
                                type="text" 
                                class="form-control"
                                name="name"
                                placeholder="Ingrese nombre"
                                [(ngModel)]="productSerivece.selectedProduct.name"
                             />
                        </div>
                        <div class="form-group">
                            <input 
                                type="number" 
                                class="form-control" 
                                name="code"
                                placeholder="Ingrese código"
                                [(ngModel)]="productSerivece.selectedProduct.code"
                            />
                        </div>
                        <div class="form-group">
                            <input 
                                type="text" 
                                class="form-control" 
                                name="description"
                                placeholder="Ingrese descripción"
                                [(ngModel)]="productSerivece.selectedProduct.description"
                            />
                        </div>
                        <div class="form-group">
                            <input 
                                type="number" 
                                class="form-control" 
                                name="price"
                                placeholder="Ingrese precio"
                                [(ngModel)]="productSerivece.selectedProduct.price"
                            />
                        </div>
                        <div class="form-group">
                            <input 
                                type="text" 
                                class="form-control" 
                                name="url"
                                placeholder="Ingrese url imagen"
                                [(ngModel)]="productSerivece.selectedProduct.url"
                            />
                        </div>
                        <br>
                        <button class="btn btn-secundary btn-sm buttonStyle">
                            Limpiar
                        </button>
                        <button class="btn btn-primary btn-sm">
                            Guardar
                        </button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-8 center">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>
                            Nombre
                        </th>
                        <th>
                            Código
                        </th>
                        <th>
                            Descripción
                        </th>
                        <th>
                            Precio
                        </th>
                        <th>
                            Imagen
                        </th>
                        <th>
                            Operaciones
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let product of productSerivece.product">
                        <td>{{product.name}}</td>
                        <td>{{product.code}}</td>
                        <td>{{product.description}}</td>
                        <td>{{product.price}}</td>
                        <td class="td"> <img src="{{product.url}}"class="img"></td>
                        <td>
                            <button class="btn btn-secundary btn-sm" (click)="edit(product)">
                                <i class="material-icons">edit</i>
                            </button>
                            <button class="btn btn-danger  btn-sm" (click)="delete(product._id)">
                                <i class="material-icons">delete</i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<app-footer></app-footer>
