<div class="container p-3">
    <div class="row">
        <div class="col-sm-12 p-3 center">
            <div class="card" style="width: 80%;">
                <div class="container p-1">
                    <form #searchForm="ngForm" (ngSubmit)="next(searchForm)">
                        <div class="form-group">
                            <input type="text" class="form-control" name="search" placeholder="Buscar"
                                [(ngModel)]="search" (ngModelChange)="somethingChanged($event)"/>
                        </div>
                    </form>
                    <ul class="list-group mar">
                        <li *ngFor="let product of searchs" class="list-group-item" (click)="detail(product._id)">
                            <div class="row">
                                <div class="col-sm-4 center">
                                    <img [src]="product.url" alt="" width="40" height="40">
                                </div>
                                <div class="col-sm-4 center">
                                    {{product.name}}
                                </div>
                                <div class="col-sm-4 center">
                                    Precio <br>
                                    {{product.precio}} 
                                </div>
                            </div>
                        </li>
                      </ul>
                </div>
            </div>
        </div>
    </div>
</div>